:root {
  --main-color: #fc0;
  --secundary-color: #0075be;
}

*,
::before,
::after {
  box-sizing: border-box;
}

body {
  margin: 0;
  background-color: var(--main-color);
  font-family:
    "Roboto Variable", "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
}

h1,
h2 {
  margin: 0;
}

ul,
li {
  list-style: none;
  padding: 0;
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;

  &:hover {
    text-decoration: none;
  }
}

img {
  max-width: 100%;
}
