.pokemons-container {
  margin: 0 auto;
  padding: 40px 0;
}

.pokemons {
  display: grid;
  gap: 24px;
  grid-template-columns: repeat(1, 1fr);

  @media (width > 550px) {
    grid-template-columns: repeat(2, 1fr);
  }

  @media (width > 750px) {
    grid-template-columns: repeat(3, 1fr);
  }

  @media (width > 1000px) {
    grid-template-columns: repeat(4, 1fr);
  }
}

.pokemon-wrapper {
  background-color: var(--quaternary-color);
  padding: 0 10px 10px 10px;
  border: 3px solid var(--secundary-color);
  border-radius: 12px;
  min-height: 300px;
}
