.main-container {
  padding: 10px 20px;

  @media (width > 600px) {
    padding: 20px;
  }
}

.pokedex-container {
  max-width: 1200px;
  width: 100%;
  margin: 0 auto;
}

.pokedex-header {
  display: flex;
  flex-direction: column;
  gap: 10px;

  @media (width > 600px) {
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
  }
}

.pokedex-header__title {
  font-family:
    "Permanent Marker", "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  font-size: 2rem;
}

.pokedex-header__counter {
  background-color: var(--terciary-color);
  border: 2px solid var(--main-black);
  color: var(--main-white);
  padding: 6px;
  border-radius: 6px;
  display: flex;
  justify-content: space-evenly;

  @media (width > 600px) {
    width: 300px;
    padding: 12px;
  }
}
