.main-header {
  background-color: var(--secundary-color);
  color: var(--main-white);
  padding: 10px 20px 20px 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 12px;

  @media (width > 500px) {
    padding: 20px;
    gap: 24px;
  }
}

.main-header__container {
  max-width: 1200px;
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.main-header__brand-container {
  display: flex;
  justify-content: space-between;
}

.main-header__text-container {
  display: flex;
  flex-direction: column;

  @media (width > 500px) {
    gap: 12px;
  }
}

.main-header__title {
  font-family:
    "Permanent Marker", "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  font-size: 2.5rem;

  @media (width > 500px) {
    font-size: 3.5rem;
  }
}

.main-header__claim {
  font-size: 1.2rem;

  @media (width > 500px) {
    font-size: 1.5rem;
  }
}

.main-header__image {
  align-self: center;
  width: 75px;
  height: 69px;

  @media (width > 500px) {
    width: 150px;
    height: 138px;
  }
}
