.navigator {
  align-self: flex-start;
}

.navigator__links {
  display: flex;
  flex-direction: column;
  gap: 12px;

  @media (width > 600px) {
    flex-direction: row;
    gap: 36px;
  }
}

.navigator__link {
  font-size: 1rem;

  &:hover {
    font-weight: bold;
    border-bottom: 3px solid var(--main-white);
  }

  @media (width > 600px) {
    font-size: 1.25rem;
  }
}

.active {
  font-weight: bold;
  border-bottom: 3px solid var(--main-white);

  &:hover {
    text-decoration: none;
  }

  &:after {
    content: " 🐦‍🔥";
  }
}
